[submodule "components/u8g2/library"]
	path = components/u8g2/library
	url = https://github.com/olikraus/u8g2
	branch = master
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
	branch = master
